<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Fuzzle Finder</title>
  {{!-- <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css"> --}}
  <link rel="stylesheet" href="/assets/styles.css">
</head>
<body>
  <h1 class="title">Fuzzle Finder</h1>
  <a class="nav" href="/">Home</a>
  {{{body}}}
<script src="/assets/masonary.js"></script>
</body>
</html>
