<div class="gallery" id="gallery">
  {{#each fuzzles}}
    <div class="gallery-item">
      <div class="content">
        <img src="/assets/images/{{file}}" title="{{title}}" />
      </div>
    </div>
  {{/each}}
</div>

