:root {
  --dark: hsl(0, 0%, 14%);
  --light: hsl(0, 0%, 96%);
  --accent: bisque;
  --hover: goldenrod;
  --photoW: 320px;
  --photoWphone: 90vw;
  --colGap: 9px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px dashed crimson; */
}
html {
  height: 100vh;
  background-color: var(--dark);
  color: var(--accent);
  font-family: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  font-size:62.5%;
}
header {
  position: relative;
  padding-top: 30px;
  font-weight: bolder;
  text-align: center;
}
img.logo {
  width: 80px;
  padding: 5px;
  border: 2px solid var(--accent);
  border-radius: 50%;
}
nav {
  font-size: 4.5rem;
  margin-bottom: .1em;
}
div.sort {
  position: absolute;
  top: 30px;
  right: 2.5vw;
  margin-right: 2vw;
}
div.sort > select {
  border: 0;
  background-color: var(--dark);
  color: var(--accent);
  font-size: 2rem;
}
section {
  margin: 0 2vw;
  display: grid;
  grid-template-columns: repeat(auto-fill, var(--photoW));
  grid-template-rows: masonry;
  justify-content: center;
  column-gap: var(--colGap);
  row-gap: var(--colGap);
}
figure {
  position: relative;
  width: var(--photoW);
  height: auto;
  padding: 5px;
  border: 2px solid var(--accent);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
figcaption {
  background-color: var(--dark);
  padding: .3em;
  width: calc(var(--photoW) - 13px);
  color: var(--dark);
  font-size: 2.2rem;
  text-align: center;
}

a:link, a:visited {
  color: var(--accent);
  text-decoration: none;
}
a:hover, a:active {
  color: var(--hover);
  text-decoration: none;
}

/*** <ByGroup /> ***/
section.byGroup > figure {
  position: relative;
  height: var(--photoW);
  margin-bottom: 7rem;
  border-radius: 0;
}
section.byGroup figure > figcaption {
  position: absolute;
  bottom: -7rem;
  border: 2px solid var(--accent);
  border-radius: 8px;
  font-size: 2.7rem;
}
section.byGroup figure > figcaption:first-letter {
  text-transform: capitalize;
}

/*** <Photo /> ***/
figure.photo {
  margin: auto 11vw;
  width: 78vw;
  height: auto;
  padding: .5em; 
}
figure.photo > img {
  object-fit: cover;
}
figure.photo > figcaption {
  width: calc(78vw - 10px);
  font-size: 3rem;
}

/*** <NavLink /> ***/
span.currentTag {
  color: #EDC956; /* halfway between goldenrold & lightgoldenrod */
}
a.active > img.logo {
  border-color: var(--hover);
}
nav a.active { 
  padding-top: .1em;
  color: var(--hover);
}
figcaption a.active {
  background-color: hsl(0, 0%, 30%);
}
/*** 404 Not Found ***/
section.notFound {
  display: flex;
  justify-content: center;
}
section.notFound > img {
  width: 1024px;
  max-width: 70vw;
  margin-top: 2rem;
}

/*** Only Firefox supports native masonry ***/
@supports not (grid-template-rows: masonry) {
  figure {
    height: calc(var(--photoW) * 1.33);
   }
  figcaption {
    position: absolute;
    right: 5px;
    bottom: 2px;
  }
}

/*** Small phones in portrait (single column) ***/
@media only screen and (max-width: 460px) {
  nav {
    font-size: 2.2rem;
  }
  figure.photo > figcaption {
    font-size: 1.8rem;
  }
}  