:root {
  --dark: hsl(0, 0%, 14%);
  --light: hsl(0, 0%, 96%);
  --accent: bisque;
  --hover: goldenrod;
  --photoW: 230px;
  --photoWphone: 90vw;
  --colGap: 11px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px dashed crimson; */
}
html {
  height: 100vh;
  background-color: var(--dark);
  color: var(--accent);
  font-family: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  font-size: 18px;
}
header {
  padding-top: 2vh;
  font-weight: bolder;
  text-align: center;
}
img.logo {
  width: 74px;
  padding: 5px;
  border: 2px solid var(--accent);
  border-radius: 50%;
}
nav {
  font-size: 2.5rem;
  margin-bottom: .2em;
}
section {
  display: grid;
  column-gap: var(--colGap);
  row-gap: calc(var(--colGap) * 1.618);
  grid-template-columns: repeat(auto-fill, var(--photoW));
  justify-content:center;
}
figure {
  position: relative;
  width: var(--photoW);
  height: calc(var(--photoW) * 1.618);
  padding: 5px;
  border: 2px solid var(--accent);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
figcaption {
  position: absolute;
  right: 5px;
  bottom: 2px;
  background-color: var(--dark);
  padding: .3em;
  width: calc(var(--photoW) - 13px);
  color: var(--dark);
  font-size: 1.3rem;
  text-align: center;
}

a:link, a:visited {
  color: var(--accent);
  text-decoration: none;
}
a:hover, a:active {
  color: var(--hover);
  text-decoration: none;
}

/*** <ByGroup /> ***/
figure.byGroup > figcaption {
  font-size: 1.5rem;
}

/*** <Photo /> ***/
figure.photo {
  margin: auto 11vw;
  width: 78vw;
  height: auto;
  padding: .5em; 
}
figure.photo > img {
  object-fit: cover;
}
figure.photo > figcaption {
  width: calc(78vw - 10px);
  font-size: 2rem;
}

/*** <NavLink /> ***/
span.currentTag {
  color: #EDC956; /* halfway between goldenrold & lightgoldenrod */
}
a.active > img.logo {
  border-color: var(--hover);
}
nav a.active { 
  padding-top: .1em;
  /* border-top: 2px solid var(--hover);
  border-radius:11%; */
  color: var(--hover);
}
figcaption a.active {
  /* color: var(--hover); */
  /* background-color: bisque; */
  background-color: hsl(0, 0%, 30%);
}

/*** Single column for small phones in portrait ***/
@media only screen and (max-width: 460px) {
  nav {
    font-size: 1.3rem;
  }
  section {
    grid-template-columns: repeat(auto-fill, var(--photoWphone));
  }
  figure {
    width: var(--photoWphone);
    height: var(--photoWphone);
  }  
  figcaption {
    width: calc(var(--photoWphone) - 13px);
  }
} 