:root {
  --dark: hsl(0, 0%, 14%);
  --light: hsl(0, 0%, 96%);
  --accent: bisque;
  --hover: goldenrod;
  --photoW: 184px;
  --photoWphone: 90vw;
  --colGap: 7px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px dashed crimson; */
}
html {
  height: 100vh;
  background-color: var(--dark);
  color: var(--accent);
}
header {
  padding-top: 2vh;
  font-size: 42px;
  font-weight: bolder;
  text-align: center;
}
nav {
  font-size: 30px;
}
a:link, a:visited {
  color: var(--accent);
  text-decoration: none;
}
a:hover, a:active {
  color: var(--hover);
  text-decoration: none;
}
.masonry-grid {
  display: flex;
}

section {
  display: grid;
  column-gap: var(--colGap);
  row-gap: 50px;
  grid-template-columns: repeat(auto-fill, var(--photoW));
  justify-content: center;
}
figure {
  width: var(--photoW);
  height: var(--photoW);
  padding: 5px;
  border: 2px solid var(--accent);
}
figcaption {
  margin-left: -7px;
  padding: 3px;
  width: var(--photoW);
  border: 2px solid var(--accent);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: var(--dark);
  color: var(--dark);
  font-size: 18px;
  text-align: center;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
footer {
  margin-top: 4vh;
  font-size: 16px;
  font-weight: lighter;
  text-align: center;
}

@media only screen and (max-width: 390px) {
  section {
    grid-template-columns: repeat(auto-fill, var(--photoWphone));
  }
  figure {
    width: var(--photoWphone);
    height: var(--photoWphone);
  }  
  figcaption {
    width: var(--photoWphone);
  }
} 